*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
} */
body{
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}
nav{
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: blueviolet;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    align-items: center;
}
.start-popup{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.133);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 90;
}
.message{
    padding: 20px;
    font-size: 4rem;
    font-weight: 600;
    
}
.new-game{
    padding: 12px;
    margin: 20px;
    color: white;
    font-size: 2em;
    background-color: #0a0027;
    border: none;
    border-radius: 0.2em;
}
.hide{
    display: none;
}
.cont{
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}
.point-box{
    position: relative;
    width: 50vmin;
    height: 19vmin;
    background-color: rgba(255, 255, 255, 0.166);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1em;
    border: 0.2rem dashed rgb(77, 3, 127);
    /* justify-content: space-evenly; */
    margin: 8px 0px ;
}
p{
    font-size: 2rem;
}
.scroe-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
   
}
.user-pic,.cpu-pic{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.player{
    width: 100%;
    padding-bottom: 5px;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.user-box,.cpu-box{
    height: 100%;
    width: 50%;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.turn-opt{
    width: 50vmin;
    padding: 15px;
    border-radius: 0.6em;
    margin: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.318);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* background-color: rgb(114, 255, 114); */
}
.text{
    z-index: 2;
    font-size: 4vh;
    color: #3b0052;
    width: 100%;
    text-align: center;
}
.slider{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;  
}
.slider-X{
    left: 0;
}
.slider-O{
    right: 0;
}
.winning-part{
    font-size: 2.5rem;
    color: rgb(0, 60, 0);
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.align{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.gamebox{
    width: 50vmin;
    height:50vmin;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 9px;
    row-gap: 10px;
    margin-bottom: 3vh;
    /* background-color: antiquewhite; */
    
}
.game-opt-btn{
    background-color: white; 
    width: 16vmin;
    height: 16vmin;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.reset-bnt{
    /* position: absolute;
    bottom: 0;
    left: 0%; */
    display: inline-block;
    /* margin-bottom: 20px; */
    padding: 10px 50px;
    font-size: 2.3rem;
    font-weight: 600;
    border-radius: 10px;
    color: #090909;
    background-color: rgb(0, 255, 225);
}
@media screen and (max-width: 580px){
    .point-box{
        width: 70vmin;
        height: 30vmin;
        border-radius: 0.8em;
    }
    .player{
        font-size: 4vw;
    }
    .turn-opt{
        width: 69vmin;
    }
    .gamebox {
        width: 68vmin;
        height: 60vmin;
    }
    .game-opt-btn {
        width: 20vmin;
        height: 20vmin;
        font-size: 4rem;
    }

}

@media screen and (max-width: 440px){
    .point-box{
        width: 83vmin;
        height: 36vmin;
                
    }
    .gamebox {
        width: 77vmin;
        height: 76vmin;
    }
    .game-opt-btn {
        width: 24vmin;
        height: 23vmin;
    }
    .turn-opt{
        width: 77vmin;
    }
}
@media screen and (max-width: 360px) {
    .game-opt-btn {
        width: 25vmin;
        height: 25vmin;
    }
    .gamebox {
        width: 81vmin;
        height: 81vmin;
    }
    .turn-opt {
        width: 82vmin;
    }
}