@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #8052ec, #d161ff);
  font-family: "Poppins", sans-serif;
}


.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.hide {
  display: none;
}

.gridLayout {
  display: grid;
  align-items: center;
  justify-items: center;
}
.contOfGame {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* background-color: rgb(235, 255, 119); */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
}
.scroeBox {
  background-color: rgba(0, 0, 0, 0.085);
  width: 30rem;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  border-radius: 0.6rem;
  gap: 1rem;
  position: relative;
  z-index: 10;
}
.activePlayer {
  position: absolute;
  height: 107%;
  width: 107%;
  background-color: rgba(255, 255, 255, 0.625);
  border: 2px solid black;
  border-radius: 0.6rem;
  z-index: 11;
}
.isXBox,
.isYBox {
  width: 100%;
  height: 100%;
  background-color: rgb(30, 124, 105);
  border: 2px solid black;
  border-radius: 0.6rem;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  z-index: 4;
}
.middelBox {
  flex-direction: column;
  font-size: 1.3rem;
}
.playerActive {
  position: absolute;

  height: 108%;
  top: -5px;
  right: -5px;
  background-color: rgb(208, 255, 0);
  border: 2px solid black;
  border-radius: 1rem;
  z-index: 3;
  transform: scale(0.4);
  animation: activeModeAnimation 1.4s ease forwards;
}

@keyframes activeModeAnimation {
  100% {
    transform: scale(1);
  }
}
.gameBoxCont {
  width: 100%;
  height: 100%;
  /* background-color: #8052ec; */
}
.gameWrap {
  width: 28rem;
  height: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: #8052ec; */
  gap: 0.6rem;
}
.game-box-btn {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(195, 195, 195, 0.889); */
  border: 3px solid black;
  background-color: rgba(1, 0, 87, 0.41);
  border-radius: 5px;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}

.btnOfReset {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.reset-bnt {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.reset-bnt:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgba(14, 14, 14, 0.545);
}

.reset-bnt:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
}

@media screen and (max-width: 900px){
  .game-box-btn {
    font-size: 4.2rem;
  }
}


@media screen and (max-width: 631px) {
  .sidebar {
    display: none;
  }
  .isXBox,.isYBox{
    font-size: 1.3rem;
  }
  .scroeBox {
    width: 20rem;
    transition: all 2s;
  }
  .gameWrap {
    width: 22rem;
    height: 87%;
    transition: all 2s;
  }
}